/* Non-responsive styles for screens of all sizes */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: transparent;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
}

.logo img {
    max-width: 200px;
    height: auto;
}

/* Center menu items and add space between them */
.menu {
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    padding: 10px 10px;
}

.menu ul li a:hover {
    color: #fff;
    background-color: #000000;
}

/* Add styles for the search bar */
.search-bar {
    width: 100%;
    background:transparent;
    display: flex;
    border-radius: 70px;
}

.search-bar input {
    background:transparent;
    flex: 1;
    border: 1px solid black;
    outline: none;
}

::placeholder {
    color: #000000;
}
.search-bar button img {
    width: 25px;
}
 .search-bar button{
    border: 0;
    background: transparent;
 }

/* Media query for screens with a maximum width of 480px (Smartphones) */
@media (max-width: 480px){
    header {
        display: flex;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .logo img {
        width: 300px;
        height: auto;
    }
    .menu {
        justify-content: space-between;
        padding: auto;
    }

    .menu ul {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .menu ul li {
        margin: 0 20px;
    }
    .menu ul li a {
        font-size: 30px;
    }
    
    .search-bar {
        width: auto;
        margin-top: 3rem;
    }

    .search-bar input {
        height: 40px;
        width: 250px;
    }
}

/* Media query for screens with a maximum width of 767px (Low-Resolution Tablets and iPads) */
@media (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: space-between;
    }
}

/* Media query for screens with a maximum width of 1024px (Tablets and iPads in portrait mode) */
@media (max-width: 1024px) {
    .menu li {
        margin: 0 15px;
    }
}
